.cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #1E2736;

}

.field-cell {
    background-color: #1E2736;
}

.field-row-container:nth-child(even) .field-cell:nth-child(odd), .field-row-container:nth-child(odd) .field-cell:nth-child(even) {
    background-color: #263546;
}

.apple {
    background: #E34032;

}

.rock {
    background: #161d2c;
}

.snake {
    background: #2D8BD3;
}
