.welcome-page{
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    width: 20%;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
}
input {
    margin-bottom: 20px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 0.5px;
    border-style: solid;
    /*border-color: #cfd8dc;*/
}
input:focus {
    outline: none;
}
.button-wrapper {
    /*background: #ffa615;*/
    padding: 8px 10px;
    border-radius: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

a {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
}
