.snake-header {
    /*background-color: #49752b;*/
    color: #E8E9EB;
    width: 30%;
}

.field-row-container {
    height: 30px;
}

.score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
